.list{
  position: absolute;
  top: 40px;
  display: none;
  padding: 15px;
  border-radius: 7px;
  background-color: #fff;
}

.nav-list{
  display: block;
}

.list-two{
  position: absolute;
  top: 40px;
  display: none;
  padding: 15px;
  border-radius: 7px;
  background-color: #fff;
}

.nav-list-two{
  display: block;
}